Repository voxpupuli/puppet-nscd, pull requests merged in 2023-10, with the labels that each got.

#80 Add EL9 support
  manifests/install.pp
  metadata.json
Labels: enhancement

#79 puppetlabs/stdlib: Require 9.x
  manifests/install.pp
  metadata.json
Labels: backwards-incompatible

#81 Drop EoL Ubuntu 16.04 support
  metadata.json
Labels: backwards-incompatible

#84 Drop Debian 8, Add Debian 11/12 support
  metadata.json
Labels: backwards-incompatible

#83 Add Ubuntu 20.04/22.04 support
  metadata.json
Labels: enhancement

#68 Clean up and generate strings docs
  README.md
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  manifests/service.pp
  types/database.pp
  types/database/settings.pp
Labels: docs

#85 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
